<html>
  <head></head>
  <body>
    <h2>Shopping list</h2>
    <ul>
      {% for key, value in items %}{#{% for item in items %}#}
        <li>Key: {{ key }} Value: {{ value }}</li>{# {{ item }} #}
      {% endfor %}
    </ul>
  </body>
</html>