<html>
  <head>
	<meta charset="utf-8" />
	<title>Прогноз погоды в Москве на 8 дней — Яндекс.Погода</title>
	<link href="includes/style.css" rel="stylesheet">
	<link href="includes/yandex.css" rel="stylesheet">
  </head>
  <body><br>

  <form action="index.php" method="post" id="form" name="form">
    <p class="center"><input type="submit" name="send" class="button" id="get_data" value="Спарсить данные в БД"><span id="error_span"></span></p>
  </form>

  <h2>Прогноз на 8 дней</h2><strong>Погода в Москве</strong><br><br><br>

{% for r in q %}

<dt class="forecast-details__day" data-anchor="{{ r.id }}">
  <strong class="forecast-details__day-number">{{ r.name }}</strong>
</dt>

	<dd class="forecast-details__day-info"><table class="weather-table" _border=1><thead class="weather-table__head"><th class="weather-table__head-cell" colspan="3">{{ r.day.name }}</th><th class="weather-table__head-cell"><U-LO8Q class="weather-table__value">Давление, <br>мм рт. ст.</U-LO8Q></th><th class="weather-table__head-cell"><U-LO8Q class="weather-table__value">Влажность</U-LO8Q></th><th class="weather-table__head-cell weather-table__head-cell_type_wind"><U-LO8Q class="weather-table__value">Ветер, м/с</U-LO8Q></th><th class="weather-table__head-cell weather-table__head-cell_type_feels-like"><U-LO8Q class="weather-table__value">Ощущается как</U-LO8Q></th></thead>

<tbody class="weather-table__body">
{% for r2 in getDay(r.day_id) %}
	<tr class="weather-table__row">
		<td class="weather-table__body-cell weather-table__body-cell_type_daypart weather-table__body-cell_wrapper">
			<U-LO8Q class="weather-table__wrapper">
				<U-LO8Q class="weather-table__daypart">{{ r2.times_of_day.name }}</U-LO8Q>
				<U-LO8Q class="weather-table__temp">
					{{ r2.temperature }}
				</U-LO8Q>
			</U-LO8Q>
		</td>
		<td class="weather-table__body-cell weather-table__body-cell_type_icon">
			<img class="icon icon_thumb_bkn-m-sn-n icon_color_dark" src="//yandex.ru/pogoda/..." aria-hidden="true"/>
		</td>
		<td class="weather-table__body-cell weather-table__body-cell_type_condition">{{ r2.precipitation.name }}</td>
		<td class="weather-table__body-cell weather-table__body-cell_type_air-pressure">{{ r2.pressure }}</td>
		<td class="weather-table__body-cell weather-table__body-cell_type_humidity">{{ r2.humidity }}</td>
		<td class="weather-table__body-cell weather-table__body-cell_type_wind weather-table__body-cell_wrapper">{{ r2.wind }}
		</td>
		<td class="weather-table__body-cell weather-table__body-cell_type_feels-like"><U-LO8Q class="temp"><span class="temp__value">{{ r2.feels_like }}</span><span class="temp__unit i-font i-font_face_yandex-sans-text-medium">°</span></U-LO8Q></td>
	</tr>
{% endfor %}

</tbody></table></dd>{% if loop.index == 1 %}<br><br><br>{% endif %}<br>

{% endfor %}

  <script src="includes/js/jquery-3.3.1.min.js"></script>
  <script src="includes/js/jquery.form.min.js"></script>
  <script src="includes/js/form.js"></script>

  </body>
</html>