/*body {
  text-align: center;
}*/

p.center { text-align: center; }

#error_span span { color: red; }

.button {
  font-size: 11pt;
  cursor: pointer;
  min-width: 200px;
  padding: 10px 18px;
  text-decoration: none;
  vertical-align: middle;
  background: #3da35a;
  border: none;
  color: #ffffff;
  font-weight: 400;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(56,100,38);
  transition: all 1s;
}

.button:hover {
  box-shadow: 0 0 25px rgb(56,100,38);
}

.button:focus {
  outline: none;
}
